.header {
    background-repeat: no-repeat;
    background-size: cover;
}

.poster {
    position: relative;
    left: 5%;
}

.details {
    background-color: #171717;
    opacity: 0.8;
    border: none;
    overflow: hidden;
    max-width: 40%;
}

label{
    margin: 0;
}

*{
    color: whitesmoke;
}

::-webkit-scrollbar {
    width: 20px;
   
}

::-webkit-scrollbar-thumb {
    background-color: #718096;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: #CBD5E0;
    border-radius: 15px;
}